<template>
  <div class="hello">
    <h3>Login</h3>
    <form>
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="checkbox" name="rememberMe">Remember me
      <br>
      <input type="submit" value="Login">
    </form>
  </div>
</template>

<script>
export default {
  name: 'Login',
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
