<template>
  <div class="hello">
    <h3>Routes</h3>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Transports</th>
        <th>Edit</th>
      </tr>
      <tr>
        <td>RouteNumber1</td>
        <td>Bus</td>
        <td>10</td>
        <td><input type="button" name="delete" value="Delete"></td>
      </tr>
      <tr>
        <td>RouteNumber2</td>
        <td>Trolleybus</td>
        <td>20</td>
        <td><input type="button" name="delete" value="Delete"></td>
      </tr>
      <tr>
        <td>RouteNumber3</td>
        <td>Tram</td>
        <td>30</td>
        <td><input type="button" name="delete" value="Delete"></td>
      </tr>
    </table>
    <Pager/>
  </div>
</template>

<script>
import Pager from "./Pager";

export default {
  name: 'Routes',
  components: {
    Pager
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
