<template>
  <div class="hello">
    <h3>StopTitle</h3>
    <table border="1">
      <tr>
        <td>Route</td>
        <td>1B</td>
      </tr>
      <tr>
        <td>Timetable</td>
        <td><textarea>09:00, 09:15</textarea></td>
      </tr>
    </table>
    <input type="button" value="Next route">
    <br>
    <input type="button" value="Previous route">
    <br>
    <input type="button" value="Add route">
  </div>
</template>

<script>
export default {
  name: 'Stop',
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
