<template>
  <div class="hello">
    <h3>Stops</h3>
    <table border="1">
      <tr>
        <th>#</th>
        <th>Name filter</th>
        <th>Route filter</th>
        <th>Edit</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Street1, House1</td>
        <td>RouteNumber1, RouteNumber2, RouteNumber3</td>
        <td><input type="button" name="edit" value="Edit">&nbsp;<input type="button" name="delete" value="Delete"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Street1, House2</td>
        <td>RouteNumber1, RouteNumber2, RouteNumber3</td>
        <td><input type="button" name="edit" value="Edit">&nbsp;<input type="button" name="delete" value="Delete"></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Street2, House1</td>
        <td>RouteNumber1, RouteNumber2, RouteNumber3</td>
        <td><input type="button" name="edit" value="Edit">&nbsp;<input type="button" name="delete" value="Delete"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="button" name="add" value="Add"></td>
      </tr>
    </table>
    <Pager/>
  </div>
</template>

<script>
import Pager from "./Pager";

export default {
  name: 'Stops',
  components: {
    Pager
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
