<template>
  <div id="app">
    <h1>Транспортные перевозки</h1>
    <nav>
      <router-link :to="{name: 'Transport'}">Home</router-link>
      &nbsp;
      <router-link :to="{name: 'Routes'}">Routes</router-link>
      &nbsp;
      <router-link :to="{name: 'Login'}">Login</router-link>
      &nbsp;
      <router-link :to="{name: 'Stop'}">Stop</router-link>
      &nbsp;
      <router-link :to="{name: 'Stops'}">Stops</router-link>
      &nbsp;
      <router-link :to="{name: 'Transports'}">Transports</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
